<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{# Control the behavior of search engine crawling and indexing #}
<meta name="robots" content="index,follow">
{# All Search Engines #}
<meta name="googlebot" content="index,follow">
{# Google Specific #}

{# Tells Google not to show the sitelinks search box #}
<meta name="google" content="nositelinkssearchbox">
{# Tells Google not to provide a translation for this document #}
{# <meta name="google" content="notranslate"> #}

{# Identify the software used to build the document, Eleventy ftw! #}
<meta name="generator" content="eleventy">

{# Disable automatic detection and formatting of possible phone numbers #}
<meta name="format-detection" content="telephone=no">