@tailwind base;

body {
  background-color: #d5e8e8;
}

header {
  max-width: 95%;
}

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  text-decoration: none;
  color: inherit;
}

i {
  transition: color 0.2s ease-out;
}

.section {
  @apply w-full py-4;
}

.booklist {
  @apply bg-white border border-gray-500 rounded-lg shadow-lg;
  width: 95%;
  max-width: 600px;
  max-height: 600px;
  overflow-y: scroll;
}

.book {
  @apply flex items-center justify-between w-full p-6 bg-white border border-gray-300;
}

.book p {
  max-width: 85%;
}

/* goodreads icons */
.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.downloadIcon {
  top: 0;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}
.rebuild {
  position: absolute;
  outline: none;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
.rebuild:focus {
  outline: none;
}

#rebuild-message {
  display: none;
  top: 125%;
  left: 0;
}

#rebuild-message:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 10px;
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  background: #fff;
}

#rebuild-message.success {
  display: inline-block;
  color: green;
}
#rebuild-message.error {
  display: inline-block;
  color: red;
}

@tailwind components;

@tailwind utilities;
