@tailwind base;

body {
  background-color: #e3e8e8;
}

header {
  max-width: 95%;
}

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  text-decoration: none;
  color: inherit;
}

.section {
  @apply w-full py-4;
}

.booklist {
  @apply bg-white border border-gray-500 rounded-lg shadow-lg;
  width: 95%;
  max-width: 600px;
  max-height: 600px;
  overflow-y: scroll;
}

.book {
  @apply block w-full p-6 bg-white border border-gray-300;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

@tailwind components;

@tailwind utilities;
