---
layout: default
title: Home
description: "Kindle Book Notes"
---

<section class="max-h-screen section">
    <div class="container flex flex-col items-center justify-center">
        <h2 class="mb-2 text-base font-bold">My Books</h2>
        <div class="booklist">
            {% for book in bookData %}
                {# works only if name doesn't have a symbol in it #}
                <a class="book hover:bg-gray-200 focus:outline-none active:bg-gray-200" href="/notes/{{book.fileName}}">
                    <p class="text-sm font-bold md:text-lg">{{book.title}}</p>
                </a>
            {% endfor %}
        </div>
    </div>
</section>