---
layout: default
title: Home
description: "Kindle Book Notes"
---

<section class="max-h-screen section">
    <div class="container flex flex-col items-center justify-center">
        <h2 class="mb-2 text-base font-bold">My Books</h2>
        <div class="booklist">
            {% for book in bookData %}
                <div class="book relative {% if book.idx % 2 === 0 %} bg-white {% else %} bg-gray-200 {% endif %} hover:bg-gray-400 focus:outline-none active:bg-gray-400">
                    <a class="w-full h-full p-6" href="/notes/{{book.fileName}}">
                        <p class="text-base font-bold md:text-lg">{{book.title}}</p>
                    </a>
                    <a href="{{book.downloadLink}}" class="absolute downloadIcon ">
                        <i class="text-gray-500 fa fa-download hover:text-teal-700" aria-label="download"></i>
                    </a>
                </div>
            {% endfor %}
        </div>
        <p class="mt-3 text-gray-600 ">
            <span class="font-bold">Total Books:</span>
            {{bookData.length}}</p>
    </div>
</section>